.items {
  display: flex;
  column-gap: 1em;
}

.label {
  margin-bottom: 1rem;
}

.item {
  position: relative;
  background: var(--dark-bg);
  width: 6rem;
  height: 6rem;

  & img {
    object-fit: contain;
    padding: 1em;
  }

  &:hover {
    cursor: pointer;
  }
}

.selected {
  outline: 1px solid var(--light-font);
}
