.main {
  width: 100%;
  min-height: calc(100vh - 100px);
  position: relative;
  padding: 50px 170px 0 170px;
  display: flex;
}

.not-exist {
  font-size: 3rem;
  font-weight: 600;
  margin: auto;
}
