:root {
  --main-bg: #1f1f1f;
  --dark-bg: #181817;
  --secondary-bg: #4c4946;

  --dark-font: #4b4b4b;
  --light-font: #7a7a7a;

  --red: #b64740;
  --white: #fff;
  --green: #2a321f;
  --green-lighter: #4f5f32;

  --border: #252525;
  --calculator-border: #252525;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--white);
}
