.button {
  height: 44px;
  padding: 0 30px;
  border: none;
  outline: none;
  cursor: pointer;
  color: var(--white);
  font-size: 14px;
  font-weight: 600;

  &:disabled {
    background-color: var(--secondary-bg) !important;
    cursor: not-allowed;
  }
}
