.button {
  height: 44px;
  border: none;
  outline: none;
  cursor: pointer;
  color: var(--white);
  font-size: 14px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;

  &:disabled {
    background-color: var(--secondary-bg) !important;
    cursor: not-allowed;
  }
}
