.calculator-result {
  border: 1px solid var(--border);
  width: 100%;
}

.result {
  padding: 1.5rem 2rem;
  border-bottom: 1px solid var(--border);

  & span {
    color: var(--red);
    font-weight: 700;
    font-size: 1.5rem;
  }
}

.medium-text {
  font-weight: 500;
  color: var(--light-font);

  &-padding {
    padding: 1.5rem 2rem;
    font-weight: 500;
    color: var(--light-font);
  }
}
