.input-wrapper {
  margin: 25px 0;
}

.input-label {
  color: var(--dark-font);
}

.input {
  outline: none;
  border: none;
  background-color: var(--dark-bg);
  padding: 12px;
  font-size: 14px;
  color: var(--light-font);

  &::placeholder {
    color: var(--dark-font);
  }
}

.input-container {
  display: flex;
  border: 1px solid var(--dark-bg);
}

.icon {
  background-color: var(--dark-bg);
  padding-left: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.error {
  border-color: var(--red);
}

.error-text {
  font-size: 12px;
  color: var(--red);
}
