@use '../../../../styles/mixins' as *;

.container {
  display: flex;
  align-items: center;
  background-color: var(--dark-bg);
}

.imageWrapper {
  position: relative;
  min-height: 44px;
  min-width: 44px;
}

.name {
  width: 200px;
  padding: 0 18px;
  overflow: hidden;
  text-overflow: ellipsis;

  @include tabletS {
    width: 100%;
  }
}

.button {
  min-height: 44px;
  min-width: 44px;
  display: grid;
  place-items: center;
  background-color: var(--secondary-bg);
}
