.inputWrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.label {
  font-size: 14px;
  font-weight: 500;
  color: var(--dark-font);
}

.input {
  width: 300px;
  height: 44px;
  background-color: var(--dark-bg);
  outline: none;
  border: 1px solid var(--border);
  color: var(--white);
  padding: 0 12px;
  transition: border-color 0.15s;

  &:focus {
    border-color: var(--secondary-bg);
  }
}

.error {
  border-color: var(--red);
}

.error-text {
  font-size: 9px;
  color: var(--red);
  margin-top: 2px;
}
